:root {
  --c-governor: #4133b7;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2.5rem;
  width: 90%;
  max-width: 1000px;
  margin: 10vh auto;
}

.card {
  border-radius: 16px;
  box-shadow: 0 30px 30px -25px rgba(65, 51, 183, 0.25);
  width: 300px;
}

.plan {
  padding: 10px;
  background-color: var(--color);
  color: var(--background);
}
.plan strong {
  font-weight: 600;
  color: #754d42;
}
.plan .inner {
  padding: 20px;
  padding-top: 40px;
  background-color: #ffedec;
  border-radius: 12px;
  position: relative;
  overflow: hidden;
}
.plan .pricing {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #fbc8be;
  border-radius: 99em 0 0 99em;
  display: flex;
  align-items: center;
  padding: 0.625em 0.75em;
  font-size: 1rem;
  font-weight: 600;
  color: #754d42;
}

.plan .title {
  font-weight: 600;
  font-size: 1.25rem;
  color: #754d42;
}
.plan .title + * {
  margin-top: 0.75rem;
}
.plan .info + * {
  margin-top: 1rem;
}
.plan .features {
  display: flex;
  flex-direction: column;
}
.plan .features li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.plan .features li + * {
  margin-top: 0.75rem;
}
.plan .features + * {
  margin-top: 1.25rem;
}
.plan button {
  font: inherit;
  border-radius: 6px;
  font-weight: 500;
  font-size: 1.125rem;
  width: 100%;
  border: 0;
  padding: 1em;
}
